# Python
__pycache__/
*.pyc

# Virtual Environment
pharma_backend/venv/
venv/

# Django
db.sqlite3
*.log
media/

# VS Code
.vscode/

# Environment variables
.env

# Node
node_modules/

# Build files
dist/
build/